<!DOCTYPE html>
<html>
<head>
    <title>Fee Structure</title><br>
    <link rel="stylesheet" href="{{ url_for('static', filename='fees.css') }}">
</head>
<body>

<div class="fee-wrapper">
    <h2>💰 Fee Structure</h2>

    <div class="fee-card">
        <p><strong>Total Fee:</strong> ₹120000</p>
        <p><strong>Paid Amount:</strong> ₹80000</p>
        <p><strong>Due Amount:</strong> ₹40000</p>
        <p><strong>Due Date:</strong> 2026-04-30</p>
        <p><strong>Status:</strong> Partial</p>
    </div>
</div>

</body>
</html>